/* css for button */
input.buttonSmall {
	height:					21px;
	width:					83px;
	color:					#FFFFFF;
	font-family:			verdana;
	font-size:				10px;
	font-weight:			bold;
	background-color:		#306CA6;
	border:					1px solid;
	border-top-color:		#8CC8E8;
	border-left-color:		#8CC8E8;
	border-right-color:		#306CA6;
	border-bottom-color:	#306CA6;
	filter:					progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#77CCFC',EndColorStr='#011258');
}

input.buttonSmallGreen {
	height:					21px;
	width:					83px;
	color:					#00FF00;
	font-family:			verdana;
	font-size:				10px;
	font-weight:			bold;
	background-color:		#306CA6;
	border:					1px solid;
	border-top-color:		#8CC8E8;
	border-left-color:		#8CC8E8;
	border-right-color:		#306CA6;
	border-bottom-color:	#306CA6;
	filter:					progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#77CCFC',EndColorStr='#011258');
}

input.buttonSmallRed {
	height:					21px;
	width:					83px;
	color:					#FFFF00;
	font-family:			verdana;
	font-size:				10px;
	font-weight:			bold;
	background-color:		#306CA6;
	border:					1px solid;
	border-top-color:		#8CC8E8;
	border-left-color:		#8CC8E8;
	border-right-color:		#306CA6;
	border-bottom-color:	#306CA6;
	filter:					progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#77CCFC',EndColorStr='#011258');
}

input.buttonSmallHover {
	height:					21px;
	width:					83px;
	color:					#FFFFFF;
	font-family:			verdana;
	font-size:				10px;
	font-weight:			bold;
	background-color:		#28578B;
	border:					1px solid;
	border-top-color:		#8CC8E8;
	border-left-color:		#8CC8E8;
	border-right-color:		#306CA6;
	border-bottom-color:	#306CA6;
	filter:					progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#8CC8E8',EndColorStr='#306CA6');	
}

input.buttonSmallGreenHover {
	height:					22px;
	width:					83px;
	color:					#FFFFFF;
	font-family:			verdana;
	font-size:				10px;
	font-weight:			bold;
	background-color:		#306CA6;
	border:					1px solid;
	border-top-color:		#008000;
	border-left-color:		#8CC8E8;
	border-right-color:		#009000;
	border-bottom-color:	#306CA6;
	filter:					progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#00e000',EndColorStr='#004200');
}

input.buttonSmallRedHover {
	height:					22px;
	width:					83px;
	color:					#FFFFFF;
	font-family:			verdana;
	font-size:				10px;
	font-weight:			bold;
	background-color:		#306CA6;
	border:					1px solid;
	border-top-color:		#CC0000;
	border-left-color:		#CC0000;
	border-right-color:		#cc0066;
	border-bottom-color:	#cc0066;
	filter:					progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ff9900',EndColorStr='#b90000');
}
