/* css for custom dialog box */

.DialogMessage {
   font-weight : bold; 
   font-size : 75%; 
   font-family : Verdana; 
   color : #0e4064; 
   background : #FFFEE6; 
   text-align : left; 
   margin-top : 4%; 
   margin-bottom : 4%;
   margin-left : 2%;
   margin-right : 2%;    
   padding-top : 5%; 
   padding-bottom : 5%; 
   padding-left : 5%;
   padding-right : 5%; 
   border-width : 0.5pt; 
   border-style : solid; 
   border-color : #666699; 
}


body {
 	background-color:	#FFFFFF;
	font-family:		verdana;
	margin :			6px;
	overflow-y:			hidden;
	overflow-x:			hidden;	 
  }


table {
	border-collapse:		collapse;
	padding:				0px;
	border-spacing:			0px;
	width:					100%;
}


input.button,
input.buttonhover {
	height:					23px;
	width:					140px;
	color:					#FFFFFF;
	font-family:			verdana;
	font-size:				10px;
	font-weight:			bold;
	background-color:		#306CA6;
	border:					1px solid;
	border-top-color:		#8CC8E8;
	border-left-color:		#8CC8E8;
	border-right-color:		#306CA6;
	border-bottom-color:	#306CA6;
	filter:					progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#77CCFC',EndColorStr='#011258');
}

input.button_bigger,
input.button_bigger_hover {
	height:					23px;
	width:					170px;
	color:					#FFFFFF;
	font-family:			verdana;
	font-size:				10px;
	font-weight:			bold;
	background-color:		#306CA6;
	border:					1px solid;
	border-top-color:		#8CC8E8;
	border-left-color:		#8CC8E8;
	border-right-color:		#306CA6;
	border-bottom-color:	#306CA6;
	filter:					progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#77CCFC',EndColorStr='#011258');
}

input.buttonhover {
	background-color:		#28578B;
	filter:					progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#8CC8E8',EndColorStr='#306CA6');
}







