a:link {color: #006699;}
a:visited {color: #006699;}
a:hover {color: #FF9900;}

ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	list-style-type: square;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-color: #F4FBFD;
	margin-left: 0px;
	margin-top: 0px;
	left: 0px;
	top: 0px;
	overflow-x: hidden;
	scrollbar-face-color: #A9CEE8;
	scrollbar-highlight-color: #DEEBFB;
	scrollbar-shadow-color: #2E5992;
	scrollbar-3dlight-color: #DEEBFB;
	scrollbar-arrow-color:  #2E5992;
	scrollbar-track-color: #DEEBFB;
	scrollbar-darkshadow-color: #2E5992;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-color: #F4FBFD;
}

.loginTable{
	position: 			absolute;
	top:				250px;
	left:				367px;
	border:				#FFFFFF;
	background-color: 	#F5F6F6;
	border-collapse: 	collapse;
	padding:			2px;
}

.bg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-color: #F5F6F6;
	margin-left: 0px;
	margin-top: 0px;
	left: 0px;
	top: 0px;
	overflow-x: hidden;
	scrollbar-face-color: #A9CEE8;
	scrollbar-highlight-color: #DEEBFB;
	scrollbar-shadow-color: #2E5992;
	scrollbar-3dlight-color: #DEEBFB;
	scrollbar-arrow-color:  #2E5992;
	scrollbar-track-color: #DEEBFB;
	scrollbar-darkshadow-color: #2E5992;
}

.tdreq {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-color: #F4FBFD;
	border: 3px dotted #9966CC;
}

.listmgthdr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-color: #5AA2BD;
}

.list {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	width: 230px;
}

.listshort {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	width: 154px;
}

.listshortreq {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	width: 230px;
	background-color: #E8E8FF;
	width: 154px;
}

.listvshort {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	width: 125px;
}

.listvvshort {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	width: 75px;
}

.listreq {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	width: 230px;
	background-color: #E8E8FF;
}

.listmonth {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	width: 50px;
}

.listage {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	width: 100px;
}

.textfield {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	border: 1px solid #60A2B7;
	height: 20px;
}

.logintextfield {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	border: 1px solid #60A2B7;
	height: 16px;
	width:152px;
}

.loginselecttfield {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	border: 1px solid #60A2B7;
	height: 20px;
	width:154px;
}

.textfieldreq {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-color: #E8E8FF;
	border: 1px solid #60A2B7;
	height: 20px;
}

.textfielddisp {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-color: #F4F4F4;
	border: 1px solid #60A2B7;
	height: 20px;
}

.textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	border: 1px solid #60A2B7;
}

.textareareq {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-color: #E8E8FF;
	border: 1px solid #60A2B7;
}

.radio {
	border: 1px solid #006666;
	background-color: #A4CBDE;
}

.radioreq {
	border: 1px solid #333399;
	background-color: #E8E8FF;
}

.checkbox {
	border: 1px solid #006666;
	background-color: #A4CBDE;
}

.checkboxreq {
	border: 1px solid #006666;
	background-color: #E8E8FF;
}

.checkboxdisp {
	border: 1px solid #999999;
	background-color: #F4F4F4;
}

.theader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	background-color: #A4CBDE;
}

.theader2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #569FC2;
}

.tsubhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	background-color: #CFE4EA;
}

.trhead2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #448DA6;
}
.tr1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006666;
	background-color: #D4EAF1;
}
.tr2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #006666;
	background-color: #B8DCE9;
}

.bgc {
	color: #006666;
	background-color: #B8DCE9;
}
.tr3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #006666;
	background-color: #B8DCE9;
}
.tr4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #006666;
	background-color: #D5E3EE;
}

.trlines1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	background-image: url(../images/bg_blulines.gif);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #6699CC;
}

.trlines {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	background-image: url(../img/login/bg_blulines.gif);
}

.trlinesgrey {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	background-image: url(../img/login/bg_greylines.gif);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}

.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	padding: 2px;
}

.summtrhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #62A8BF;
}

.summtr3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #666666;
	background-color: #B8DCE9;
}

.summtr4 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #666666;
	background-color: #EEF4F9;
}

.td1 {
	background-color: #BDDBE6;
}

.td2 {
	background-color: #FFFFFF;
}

.td3 {
	background-color: #BDDBE6;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #6699CC;
}

.bg-login {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	background-color: #FFFFFF;
	background-attachment: fixed;
	background-image: url(../img/login/login.jpg);
	background-repeat: no-repeat;
	background-position: 240px 47px;
	margin-left: 0px;
	margin-top: 0px;
	left: 0px;
	top: 0px;
	overflow-x: hidden;
}

.tsubhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	background-color: #CFE4EA;
}