.TopNavLink {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.Impersonation {
	BACKGROUND-COLOR: #003366
}
.TopNavigationBar {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana; HEIGHT: 21px; BACKGROUND-COLOR: #003366
}
.LeftPane {
	BORDER-RIGHT: #28578b 1px solid; WIDTH: 40px; PADDING-TOP: 15px
}
.RightPane {
	PADDING-LEFT: 20px; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; PADDING-TOP: 15px; FONT-FAMILY: Verdana
}
.MainBody {
	PADDING-RIGHT: 20px; FONT-SIZE: 12px
}
.BodyText {
	FONT-SIZE: 12px; COLOR: #003366; TEXT-DECORATION: none
}
.Smallertext {
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
	COLOR: #003366;
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 1px;
	FONT-WEIGHT: normal;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px
}
.Smalltext {
	FONT-SIZE: 11px; 
	COLOR: 28578B; 
	TEXT-DECORATION: none;
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 1px solid;
}
.SmalltextDueSoon {
	FONT-SIZE: 11px; 
	COLOR: 009900;
	FONT-STYLE: italic; 
	TEXT-DECORATION: none;
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 1px solid;
}
.SmalltextDueUrgent {
	FONT-SIZE: 11px; 
	COLOR: FF8800;
	FONT-STYLE: italic; 
	TEXT-DECORATION: none;
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 1px solid;
}
.SmalltextDueCritical {
	FONT-SIZE: 11px; 
	COLOR: FF0000;
	FONT-WEIGHT: bold;	
	TEXT-DECORATION: none;
	BORDER-RIGHT: 1px solid;
	BORDER-TOP: 1px solid;
	BORDER-LEFT: 1px solid;
	BORDER-BOTTOM: 1px solid;
}
.RightPaneHeader {
	PADDING-LEFT: 20px; FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #0e4064; PADDING-TOP: 11px; FONT-FAMILY: Verdana
}
.SmallBodyText {
	FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none
}

A.Anchor:link {
	FONT-SIZE: 12px; COLOR: #0e4064; TEXT-DECORATION: underline
}
A.Anchor:hover {
	FONT-SIZE: 12px; COLOR: #61A8C0; TEXT-DECORATION: underline
}
A.Anchor:visited {
	FONT-SIZE: 12px; COLOR: #0e4064; TEXT-DECORATION: underline
}
A.Anchor:active {
	FONT-SIZE: 12px; COLOR: #0e4064; TEXT-DECORATION: underline
}

A.AnchorAlert:link {
	FONT-SIZE: 12px; COLOR: #FF0000; TEXT-DECORATION: underline
}
A.AnchorAlert:hover {
	FONT-SIZE: 12px; COLOR: #FF8A00; TEXT-DECORATION: underline
}
A.AnchorAlert:visited {
	FONT-SIZE: 12px; COLOR: #FF0000; TEXT-DECORATION: underline
}
A.AnchorAlert:active {
	FONT-SIZE: 12px; COLOR: #FF0000; TEXT-DECORATION: underline
}

A.BlindHeaderLink:link {
	TEXT-DECORATION: none; COLOR: #28578B
}
A.BlindHeaderLink:visited {
	TEXT-DECORATION: none; COLOR: #28578B
}
A.BlindHeaderLink:active {
	TEXT-DECORATION: underline; COLOR: #28578B
}
A.BlindHeaderLink:hover {
	TEXT-DECORATION: none; COLOR: #28578B
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #28578B; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #0e4064; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.DataGrid {
	BORDER-RIGHT: thin; BORDER-TOP: thin; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: thin; WIDTH: 98%; COLOR: #28578b; BORDER-BOTTOM: thin; FONT-FAMILY: Verdana; BACKGROUND-COLOR: white; VERTICAL-ALIGN=top
}
.DataGridHeader {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; BORDER-LEFT: #6699cc 1px solid; COLOR: #28578B; PADDING-TOP: 3px; BORDER-BOTTOM: #6699cc 3px solid; FONT-FAMILY: Verdana; HEIGHT: 18px; BACKGROUND-COLOR: #e5eef2; TEXT-ALIGN: left; VERTICAL-ALIGN=top
}
.DataGridHeaderPlus {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; BORDER-LEFT: #6699cc 1px solid; COLOR: #28578B; PADDING-TOP: 3px; BORDER-BOTTOM: #6699cc 3px solid; FONT-FAMILY: Verdana; HEIGHT: 18px; BACKGROUND-COLOR: #e5eef2; TEXT-ALIGN: left; VERTICAL-ALIGN=top; WIDTH: 98%
}
.DataGridItemHeaderPlus {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #28578b; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #e5eef2; TEXT-ALIGN: center
}
.DataGridHeaderTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #28578b; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #e5eef2; TEXT-ALIGN: left
}
.DataGridHeader1 {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #6699cc 1px solid; COLOR: #28578b; PADDING-TOP: 1px; BORDER-BOTTOM: #6699cc 3px solid; FONT-FAMILY: Verdana; HEIGHT: 18px; BACKGROUND-COLOR: #e8e9f7; TEXT-ALIGN: left
}
.DataGridHeaderTitle1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #28578b; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #e8e9f7; TEXT-ALIGN: left
}
.DataGridItem1 {
	BORDER-RIGHT: #6699cc 1px solid; BORDER-TOP: #6699cc 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #6699cc 1px solid; BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-COLOR: #F8F8FC
}

.DataGridHeader2 {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #6699cc 1px solid; COLOR: #28578b; PADDING-TOP: 1px; BORDER-BOTTOM: #6699cc 3px solid; FONT-FAMILY: Verdana; HEIGHT: 18px; BACKGROUND-COLOR: #CDE8FE; TEXT-ALIGN: left
}
.DataGridHeaderTitle2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #28578b; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #CDE8FE; TEXT-ALIGN: left
}
.DataGridItem2 {
	BORDER-RIGHT: #6699cc 1px solid; BORDER-TOP: #6699cc 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #6699cc 1px solid; BORDER-BOTTOM: #6699cc 1px solid; BACKGROUND-COLOR: #F4FBFB
}

.DataGridHeadersmall {
	BORDER-RIGHT: #6699cc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: #6699cc 1px solid; COLOR: #28578B; PADDING-TOP: 3px; BORDER-BOTTOM: #6699cc 3px solid; FONT-FAMILY: Verdana; HEIGHT: 18px; BACKGROUND-COLOR: #e5eef2; TEXT-ALIGN: left; VERTICAL-ALIGN=top
}
.DataGridHeadersmaller {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #009900; FONT-FAMILY: Verdana
}
.DataGridItem {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; VERTICAL-ALIGN=top; BORDER-COLOR=#6699cc
}
.DataGridItemPlus {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; VERTICAL-ALIGN=top; BORDER-COLOR=#6699cc; TEXT-ALIGN: center
}
.DataGridItemBold {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; VERTICAL-ALIGN=top; FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Verdana; BORDER-COLOR=#6699cc
}

.DataGridEmphasis {
	BORDER-RIGHT: thin; BORDER-TOP: thin; FONT-WEIGHT: normal; FONT-SIZE: 12px; BORDER-LEFT: thin; WIDTH: 100%; COLOR: #28578b; BORDER-BOTTOM: thin; FONT-FAMILY: Verdana; BACKGROUND-COLOR: white; VERTICAL-ALIGN=top
}
.DataGridEmphasisHeader {
	BORDER-RIGHT: #009900 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #009900 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; BORDER-LEFT: #009900 1px solid; COLOR: #28578B; PADDING-TOP: 3px; BORDER-BOTTOM: #009900 3px solid; FONT-FAMILY: Verdana; HEIGHT: 18px; BACKGROUND-COLOR: #e5eef2; TEXT-ALIGN: left; VERTICAL-ALIGN=top
}
.DataGridEmphasisHeadersmall {
	BORDER-RIGHT: #009900 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #009900 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; BORDER-LEFT: #009900 1px solid; COLOR: #28578B; PADDING-TOP: 3px; BORDER-BOTTOM: #009900 3px solid; FONT-FAMILY: Verdana; HEIGHT: 18px; BACKGROUND-COLOR: #e5eef2; TEXT-ALIGN: left; VERTICAL-ALIGN=top
}
.DataGridEmphasisItem {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; VERTICAL-ALIGN=top; BORDER-COLOR=#009900
}
.TitleExpanded {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-COLOR:#A4CBDE; PADDING-BOTTOM: 4px; COLOR: #003366; PADDING-TOP: 4px
}
.ImgZeroPadding {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.SearchWidget {
	WIDTH: 300px
}

.SearchWidgetLong {
	WIDTH: 340px
}
.ErrorHeader {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; COLOR: #cc0000; PADDING-TOP: 4px
}
.ErrorText {
		FONT-SIZE: 12px; COLOR: #cc0000; TEXT-DECORATION: none
}
span.rightarrowwhite{
	FONT-SIZE: 20px; COLOR: #ff8800;
}

.errorMessage{
     font-size: 12px; color: #cc0000; text-decoration:none;
}

.attachment {
	FONT-SIZE: 11px; 
	color: #014493;
	font-weight: bold;	
	text-decoration: underline;
}

.highlight {
	FONT-SIZE: 12px; 
	COLOR: FF8800;
	font-weight: bold;	
	font-style: italic;
}

.reportRow th {
    text-align: center;
    width: 5%;
}

.reportRow td {
    text-align: center;
    width: 5%;
    font-size: 11px;
}

/*disable additional error messages displayed over fields used by struts2 templates,
 not observing the app requirements*/
  span.errorMessage {
            display:none;
        }

.tableBorderHeader {
	BORDER-TOP: #28578b 1px solid;
	BORDER-LEFT: #28578b 1px solid;
	BORDER-RIGHT: #28578b 1px solid;
	BORDER-BOTTOM: #28578b 3px solid;
}

.tableBorderBody {
	BORDER-RIGHT: #28578b 1px solid;
	BORDER-LEFT: #28578b 1px solid;
	BORDER-BOTTOM: #28578b 1px solid;
}

.tablePadding {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
	WIDTH: 100%;
	PADDING-TOP: 7px;
	HEIGHT: 100%;
}